.removeTodo {
  background-color: #fc0320;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7px;
  width: 1rem;
  height: 1rem;
  border: none;
  padding: 5px 8px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: darken(#fc0320, 5%);
    transform: translateY(1px);
  }
}
